openapi: 3.1.0
info:
  title: Wherobots Cloud apikey coupon API
  description: "Wherobots Cloud API OpenAPI specification.\n\n    These are the API docs for the Wherobots API. You can use this to test out the API and see what it does.\n    The underlying OPENAPI spec can be found at /openapi.json. This can be used to generate clients for the API.\n\n    The Authorize button below will allow you to input an access token to authenticate to our API.\n    Then all of the requests on the page should work.\n    "
  version: 0.0.1
servers:
- url: https://api.cloud.wherobots.com
  description: Wherobots Cloud API
tags:
- name: coupon
paths:
  /organization/coupon/redeem:
    post:
      tags:
      - coupon
      summary: Redeem an organization coupon
      operationId: redeemCoupon
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_redeemCoupon'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      x-exclude-from-cli: true
      x-excluded: true
components:
  schemas:
    Coupon:
      properties:
        plans:
          items:
            $ref: '#/components/schemas/Plan'
          type: array
          uniqueItems: true
          title: Plans
          description: The plans this coupon can be applied to
        features:
          items:
            $ref: '#/components/schemas/WherobotsCloudFeature'
          type: array
          uniqueItems: true
          title: Features
          description: The features enabled by this coupon
        quotas:
          additionalProperties:
            type: integer
          propertyNames:
            $ref: '#/components/schemas/QuotaType'
          type: object
          title: Quotas
          description: The quotas granted by this coupon
      type: object
      required:
      - plans
      - features
      - quotas
      title: Coupon
    QuotaType:
      type: string
      enum:
      - CPU
      - HUMAN_USER_COUNT
      - WORKLOAD_LIFETIME_HOUR
      - DISK_PER_NODE_GB
      - FOREIGN_CATALOG_COUNT
      title: QuotaType
    ErrorInfo:
      properties:
        code:
          $ref: '#/components/schemas/ErrorClass'
          description: The error code
        message:
          type: string
          title: Message
          description: A human-readable message describing the error
        details:
          type: string
          title: Details
          description: Details about the error
        path:
          type: string
          title: Path
          description: The path to the field that caused the error
        suggestion:
          type: string
          title: Suggestion
          description: Suggested action to resolve the error
          default: Contact us at support@wherobots.com to get help with resolving your error.
        documentation_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentation Url
          description: URL to related documentation
        field:
          anyOf:
          - type: string
          - type: 'null'
          title: Field
          description: The field that caused the error if applicable
      type: object
      required:
      - code
      - message
      - details
      - path
      title: ErrorInfo
    WherobotsCloudFeature:
      type: string
      enum:
      - SAML
      - SERVICE_PRINCIPALS
      - STORAGE_INTEGRATION
      - PROFESSIONAL_DATA
      - AUDIT_LOGS
      - RUNS
      - FOREIGN_CATALOGS
      - RASTERFLOW
      - MCP_ACCESS
      - STANDALONE_WHEROBOTSDB
      - CLOUD_CONNECTIONS
      - MICRO_RUNTIME
      - SMALL_RUNTIME
      - MEDIUM_RUNTIME
      - LARGE_RUNTIME
      - X_LARGE_RUNTIME
      - XX_LARGE_RUNTIME
      - MEDIUM_HIMEM_RUNTIME
      - LARGE_HIMEM_RUNTIME
      - X_LARGE_HIMEM_RUNTIME
      - XX_LARGE_HIMEM_RUNTIME
      - X_LARGE_HICPU_RUNTIME
      - XX_LARGE_HICPU_RUNTIME
      - MICRO_A10_GPU_RUNTIME
      - TINY_A10_GPU_RUNTIME
      - SMALL_A10_GPU_RUNTIME
      - MEDIUM_A10_GPU_RUNTIME
      - LARGE_A10_GPU_RUNTIME
      - X_LARGE_A10_GPU_RUNTIME
      - X_LARGE_MATCHER_RUNTIME
      - XX_LARGE_MATCHER_RUNTIME
      - REGION_AWS_US_WEST_2
      - REGION_AWS_EU_WEST_1
      - REGION_AWS_US_EAST_1
      - REGION_AWS_AP_SOUTH_1
      - REGION_AWS_US_EAST_2
      title: WherobotsCloudFeature
    ErrorClass:
      type: string
      enum:
      - BAD_REQUEST_ERROR
      - CONFLICT_ERROR
      - INVALID_INPUT_ERROR
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED_ERROR
      - INSUFFICIENT_PERMISSIONS_ERROR
      - THIRD_PARTY_PERMISSIONS_ERROR
      - NOT_FOUND_ERROR
      - INSUFFICIENT_QUOTA_ERROR
      - REQUEST_ENTITY_TOO_LARGE
      - FOREIGN_CATALOG_CONNECTION_FAILED
      - RATE_LIMIT_ERROR
      - TIMEOUT_ERROR
      - ACCOUNT_NOT_PROVISIONED
      - BAD_GATEWAY_ERROR
      - GATEWAY_TIMEOUT_ERROR
      title: ErrorClass
    Plan:
      type: string
      enum:
      - COMMUNITY
      - PROFESSIONAL
      - BUILDER
      - ENTERPRISE
      title: Plan
    ErrorBody:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInfo'
          type: array
          title: Errors
          description: A list of errors that occurred
        requestId:
          type: string
          title: Requestid
          description: A unique identifier for the request that caused the error
      type: object
      required:
      - errors
      - requestId
      title: ErrorBody
    Body_redeemCoupon:
      properties:
        code:
          type: string
          title: Code
          description: The coupon code to redeem
        apply:
          type: boolean
          title: Apply
          description: Whether to apply the coupon features, or only check
          default: false
      type: object
      required:
      - code
      title: Body_redeemCoupon
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
    wherobotsApiKey:
      type: apiKey
      description: A Wherobots-generated API key
      in: header
      name: X-API-Key
