openapi: 3.1.0
info:
  title: Wherobots Cloud apikey union-executions API
  description: "Wherobots Cloud API OpenAPI specification.\n\n    These are the API docs for the Wherobots API. You can use this to test out the API and see what it does.\n    The underlying OPENAPI spec can be found at /openapi.json. This can be used to generate clients for the API.\n\n    The Authorize button below will allow you to input an access token to authenticate to our API.\n    Then all of the requests on the page should work.\n    "
  version: 0.0.1
servers:
- url: https://api.cloud.wherobots.com
  description: Wherobots Cloud API
tags:
- name: union-executions
paths:
  /union-executions/{execution_id}:
    get:
      tags:
      - union-executions
      summary: Get detailed Union execution info by ID
      description: 'Return detailed information for a Union/Flyte workflow execution,

        including live inputs and outputs fetched from the Union API.'
      operationId: getUnionExecutionDetails
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: execution_id
        in: path
        required: true
        schema:
          type: string
          title: Execution Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnionExecutionDetailView'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-excluded: false
components:
  schemas:
    ErrorInfo:
      properties:
        code:
          $ref: '#/components/schemas/ErrorClass'
          description: The error code
        message:
          type: string
          title: Message
          description: A human-readable message describing the error
        details:
          type: string
          title: Details
          description: Details about the error
        path:
          type: string
          title: Path
          description: The path to the field that caused the error
        suggestion:
          type: string
          title: Suggestion
          description: Suggested action to resolve the error
          default: Contact us at support@wherobots.com to get help with resolving your error.
        documentation_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentation Url
          description: URL to related documentation
        field:
          anyOf:
          - type: string
          - type: 'null'
          title: Field
          description: The field that caused the error if applicable
      type: object
      required:
      - code
      - message
      - details
      - path
      title: ErrorInfo
    TypedLiteral:
      properties:
        name:
          type: string
          title: Name
        type:
          type: string
          title: Type
        value:
          anyOf:
          - type: string
          - type: integer
          - type: number
          - type: boolean
          - additionalProperties: true
            type: object
          - items: {}
            type: array
          - type: 'null'
          title: Value
      type: object
      required:
      - name
      - type
      title: TypedLiteral
      description: A single named literal value with its type preserved.
    UnionExecutionDetailView:
      properties:
        executionId:
          type: string
          title: Executionid
        workflowName:
          type: string
          title: Workflowname
        workflowProject:
          type: string
          title: Workflowproject
        state:
          type: string
          title: State
        createdAt:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Createdat
        startedAt:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Startedat
        endedAt:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Endedat
        durationSeconds:
          anyOf:
          - type: integer
          - type: 'null'
          title: Durationseconds
        errorMessage:
          anyOf:
          - type: string
          - type: 'null'
          title: Errormessage
        inputs:
          anyOf:
          - items:
              $ref: '#/components/schemas/TypedLiteral'
            type: array
          - type: 'null'
          title: Inputs
        outputs:
          anyOf:
          - items:
              $ref: '#/components/schemas/TypedLiteral'
            type: array
          - type: 'null'
          title: Outputs
      type: object
      required:
      - executionId
      - workflowName
      - workflowProject
      - state
      title: UnionExecutionDetailView
      description: 'Detailed view of a Union/Flyte workflow execution, including live

        inputs and outputs fetched from the Union API.'
    ErrorClass:
      type: string
      enum:
      - BAD_REQUEST_ERROR
      - CONFLICT_ERROR
      - INVALID_INPUT_ERROR
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED_ERROR
      - INSUFFICIENT_PERMISSIONS_ERROR
      - THIRD_PARTY_PERMISSIONS_ERROR
      - NOT_FOUND_ERROR
      - INSUFFICIENT_QUOTA_ERROR
      - REQUEST_ENTITY_TOO_LARGE
      - FOREIGN_CATALOG_CONNECTION_FAILED
      - RATE_LIMIT_ERROR
      - TIMEOUT_ERROR
      - ACCOUNT_NOT_PROVISIONED
      - BAD_GATEWAY_ERROR
      - GATEWAY_TIMEOUT_ERROR
      title: ErrorClass
    ErrorBody:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInfo'
          type: array
          title: Errors
          description: A list of errors that occurred
        requestId:
          type: string
          title: Requestid
          description: A unique identifier for the request that caused the error
      type: object
      required:
      - errors
      - requestId
      title: ErrorBody
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
    wherobotsApiKey:
      type: apiKey
      description: A Wherobots-generated API key
      in: header
      name: X-API-Key
