openapi: 3.1.0
info:
  title: Wherobots Cloud apikey solution_notebooks API
  description: "Wherobots Cloud API OpenAPI specification.\n\n    These are the API docs for the Wherobots API. You can use this to test out the API and see what it does.\n    The underlying OPENAPI spec can be found at /openapi.json. This can be used to generate clients for the API.\n\n    The Authorize button below will allow you to input an access token to authenticate to our API.\n    Then all of the requests on the page should work.\n    "
  version: 0.0.1
servers:
- url: https://api.cloud.wherobots.com
  description: Wherobots Cloud API
tags:
- name: solution_notebooks
paths:
  /solution-notebooks:
    get:
      tags:
      - solution_notebooks
      summary: List solution notebooks
      operationId: listSolutionNotebooks
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: showInGalleryOnly
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Showingalleryonly
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotebookMetadata'
                title: Response Listsolutionnotebooks
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
    post:
      tags:
      - solution_notebooks
      summary: Create a solution notebook
      operationId: createSolutionNotebook
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_createSolutionNotebook'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
  /solution-notebooks/{notebookId}:
    get:
      tags:
      - solution_notebooks
      summary: Get a solution notebook
      operationId: getSolutionNotebook
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: notebookId
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          title: Notebookid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
    put:
      tags:
      - solution_notebooks
      summary: Replace a solution notebook
      operationId: replaceSolutionNotebook
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: notebookId
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          title: Notebookid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_replaceSolutionNotebook'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotebookMetadata'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
    delete:
      tags:
      - solution_notebooks
      summary: Delete a solution notebook
      operationId: deleteSolutionNotebook
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: notebookId
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          title: Notebookid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
  /solution-notebooks/{notebookId}/thumbnail:
    get:
      tags:
      - solution_notebooks
      summary: Get solution notebook thumbnail
      operationId: getSolutionNotebookThumbnail
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: notebookId
        in: path
        required: true
        schema:
          type: string
          maxLength: 255
          title: Notebookid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-exclude-from-cli: true
      x-excluded: true
components:
  schemas:
    NotebookMetadata:
      properties:
        id:
          type: string
          title: Id
        createTime:
          type: string
          format: date-time
          title: Createtime
        updateTime:
          type: string
          format: date-time
          title: Updatetime
        name:
          type: string
          title: Name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        efsPath:
          type: string
          title: Efspath
        thumbnailImageDataBase64:
          anyOf:
          - type: string
          - type: 'null'
          title: Thumbnailimagedatabase64
        thumbnailImageMediaType:
          anyOf:
          - type: string
          - type: 'null'
          title: Thumbnailimagemediatype
        recommendedRuntime:
          $ref: '#/components/schemas/RuntimeId'
          default: tiny
        galleryOrder:
          type: integer
          title: Galleryorder
        showInGallery:
          type: boolean
          title: Showingallery
      type: object
      required:
      - id
      - createTime
      - updateTime
      - name
      - efsPath
      - galleryOrder
      - showInGallery
      title: NotebookMetadata
    ErrorInfo:
      properties:
        code:
          $ref: '#/components/schemas/ErrorClass'
          description: The error code
        message:
          type: string
          title: Message
          description: A human-readable message describing the error
        details:
          type: string
          title: Details
          description: Details about the error
        path:
          type: string
          title: Path
          description: The path to the field that caused the error
        suggestion:
          type: string
          title: Suggestion
          description: Suggested action to resolve the error
          default: Contact us at support@wherobots.com to get help with resolving your error.
        documentation_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentation Url
          description: URL to related documentation
        field:
          anyOf:
          - type: string
          - type: 'null'
          title: Field
          description: The field that caused the error if applicable
      type: object
      required:
      - code
      - message
      - details
      - path
      title: ErrorInfo
    ErrorBody:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInfo'
          type: array
          title: Errors
          description: A list of errors that occurred
        requestId:
          type: string
          title: Requestid
          description: A unique identifier for the request that caused the error
      type: object
      required:
      - errors
      - requestId
      title: ErrorBody
    RuntimeId:
      type: string
      enum:
      - TINY
      - SMALL
      - MEDIUM
      - LARGE
      - XLARGE
      - XXLARGE
      - micro
      - tiny
      - small
      - medium
      - large
      - x-large
      - 2x-large
      - 4x-large
      - medium-himem
      - large-himem
      - x-large-himem
      - 2x-large-himem
      - 4x-large-himem
      - x-large-hicpu
      - 2x-large-hicpu
      - x-large-matcher
      - 2x-large-matcher
      - micro-a10-gpu
      - tiny-a10-gpu
      - small-a10-gpu
      - medium-a10-gpu
      - large-a10-gpu
      - x-large-a10-gpu
      title: RuntimeId
    ErrorClass:
      type: string
      enum:
      - BAD_REQUEST_ERROR
      - CONFLICT_ERROR
      - INVALID_INPUT_ERROR
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED_ERROR
      - INSUFFICIENT_PERMISSIONS_ERROR
      - THIRD_PARTY_PERMISSIONS_ERROR
      - NOT_FOUND_ERROR
      - INSUFFICIENT_QUOTA_ERROR
      - REQUEST_ENTITY_TOO_LARGE
      - FOREIGN_CATALOG_CONNECTION_FAILED
      - RATE_LIMIT_ERROR
      - TIMEOUT_ERROR
      - ACCOUNT_NOT_PROVISIONED
      - BAD_GATEWAY_ERROR
      - GATEWAY_TIMEOUT_ERROR
      title: ErrorClass
    Body_replaceSolutionNotebook:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 1024
          - type: 'null'
          title: Description
        efsPath:
          type: string
          maxLength: 512
          title: Efspath
        recommendedRuntime:
          $ref: '#/components/schemas/RuntimeId'
          default: tiny
        thumbnailImage:
          anyOf:
          - type: string
            contentMediaType: application/octet-stream
          - type: 'null'
          title: Thumbnailimage
        galleryOrder:
          type: integer
          title: Galleryorder
          default: 0
        showInGallery:
          type: boolean
          title: Showingallery
          default: true
      type: object
      required:
      - name
      - efsPath
      title: Body_replaceSolutionNotebook
    Body_createSolutionNotebook:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
        description:
          anyOf:
          - type: string
            maxLength: 1024
          - type: 'null'
          title: Description
        efsPath:
          type: string
          maxLength: 512
          title: Efspath
        recommendedRuntime:
          $ref: '#/components/schemas/RuntimeId'
          default: tiny
        thumbnailImage:
          anyOf:
          - type: string
            contentMediaType: application/octet-stream
          - type: 'null'
          title: Thumbnailimage
        galleryOrder:
          type: integer
          title: Galleryorder
          default: 0
        showInGallery:
          type: boolean
          title: Showingallery
          default: true
      type: object
      required:
      - name
      - efsPath
      title: Body_createSolutionNotebook
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
    wherobotsApiKey:
      type: apiKey
      description: A Wherobots-generated API key
      in: header
      name: X-API-Key
