openapi: 3.1.0
info:
  title: Wherobots Cloud apikey audit-log API
  description: "Wherobots Cloud API OpenAPI specification.\n\n    These are the API docs for the Wherobots API. You can use this to test out the API and see what it does.\n    The underlying OPENAPI spec can be found at /openapi.json. This can be used to generate clients for the API.\n\n    The Authorize button below will allow you to input an access token to authenticate to our API.\n    Then all of the requests on the page should work.\n    "
  version: 0.0.1
servers:
- url: https://api.cloud.wherobots.com
  description: Wherobots Cloud API
tags:
- name: audit-log
paths:
  /audit-log:
    get:
      tags:
      - audit-log
      summary: Query audit log events
      operationId: queryAuditLog
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          title: Starttime
      - name: endTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          title: Endtime
      - name: searchTerm
        in: query
        required: false
        schema:
          type: string
          title: Searchterm
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Cursor for the next page
          title: Cursor
        description: Cursor for the next page
      - name: size
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: Page size
          default: 50
          title: Size
        description: Page size
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPage__T_Customized_AuditLogEventPublic_'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-excluded: true
  /audit-log/export:
    get:
      tags:
      - audit-log
      summary: Export audit log as CSV
      operationId: exportAuditLog
      security:
      - bearerToken: []
      - wherobotsApiKey: []
      parameters:
      - name: startTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          title: Starttime
      - name: endTime
        in: query
        required: false
        schema:
          type: string
          format: date-time
          title: Endtime
      - name: searchTerm
        in: query
        required: false
        schema:
          type: string
          title: Searchterm
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      x-excluded: false
components:
  schemas:
    ErrorInfo:
      properties:
        code:
          $ref: '#/components/schemas/ErrorClass'
          description: The error code
        message:
          type: string
          title: Message
          description: A human-readable message describing the error
        details:
          type: string
          title: Details
          description: Details about the error
        path:
          type: string
          title: Path
          description: The path to the field that caused the error
        suggestion:
          type: string
          title: Suggestion
          description: Suggested action to resolve the error
          default: Contact us at support@wherobots.com to get help with resolving your error.
        documentation_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Documentation Url
          description: URL to related documentation
        field:
          anyOf:
          - type: string
          - type: 'null'
          title: Field
          description: The field that caused the error if applicable
      type: object
      required:
      - code
      - message
      - details
      - path
      title: ErrorInfo
    AuditLogEventPublic:
      properties:
        event_id:
          type: string
          title: Event Id
        event_time:
          type: string
          format: date-time
          title: Event Time
        action_name:
          type: string
          title: Action Name
        user_id:
          anyOf:
          - type: string
          - type: 'null'
          title: User Id
        user_name:
          anyOf:
          - type: string
          - type: 'null'
          title: User Name
        user_agent:
          anyOf:
          - type: string
          - type: 'null'
          title: User Agent
        source_ip:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Ip
        resource_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Resource Name
        resource_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Resource Id
        compute_region:
          anyOf:
          - type: string
          - type: 'null'
          title: Compute Region
        client_chain:
          anyOf:
          - type: string
          - type: 'null'
          title: Client Chain
        source_client:
          anyOf:
          - type: string
          - type: 'null'
          title: Source Client
      type: object
      required:
      - action_name
      title: AuditLogEventPublic
    ErrorClass:
      type: string
      enum:
      - BAD_REQUEST_ERROR
      - CONFLICT_ERROR
      - INVALID_INPUT_ERROR
      - INTERNAL_SERVER_ERROR
      - UNAUTHORIZED_ERROR
      - INSUFFICIENT_PERMISSIONS_ERROR
      - THIRD_PARTY_PERMISSIONS_ERROR
      - NOT_FOUND_ERROR
      - INSUFFICIENT_QUOTA_ERROR
      - REQUEST_ENTITY_TOO_LARGE
      - FOREIGN_CATALOG_CONNECTION_FAILED
      - RATE_LIMIT_ERROR
      - TIMEOUT_ERROR
      - ACCOUNT_NOT_PROVISIONED
      - BAD_GATEWAY_ERROR
      - GATEWAY_TIMEOUT_ERROR
      title: ErrorClass
    ErrorBody:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInfo'
          type: array
          title: Errors
          description: A list of errors that occurred
        requestId:
          type: string
          title: Requestid
          description: A unique identifier for the request that caused the error
      type: object
      required:
      - errors
      - requestId
      title: ErrorBody
    CursorPage__T_Customized_AuditLogEventPublic_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/AuditLogEventPublic'
          type: array
          title: Items
        total:
          type: integer
          minimum: 0.0
          title: Total
        current_page:
          anyOf:
          - type: string
          - type: 'null'
          title: Current Page
          description: Cursor to refetch the current page
        current_page_backwards:
          anyOf:
          - type: string
          - type: 'null'
          title: Current Page Backwards
          description: Cursor to refetch the current page starting from the last item
        previous_page:
          anyOf:
          - type: string
          - type: 'null'
          title: Previous Page
          description: Cursor for the previous page
        next_page:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Page
          description: Cursor for the next page
      type: object
      required:
      - items
      - total
      title: CursorPage[~T]Customized[AuditLogEventPublic]
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
    wherobotsApiKey:
      type: apiKey
      description: A Wherobots-generated API key
      in: header
      name: X-API-Key
