{"openapi":"3.1.0","info":{"title":"Wherobots Cloud API","description":"Wherobots Cloud API OpenAPI specification.\n\n    These are the API docs for the Wherobots API. You can use this to test out the API and see what it does.\n    The underlying OPENAPI spec can be found at /openapi.json. This can be used to generate clients for the API.\n\n    The Authorize button below will allow you to input an access token to authenticate to our API.\n    Then all of the requests on the page should work.\n    ","version":"0.0.1"},"servers":[{"url":"https://api.cloud.wherobots.com","description":"Wherobots Cloud API"}],"paths":{"/apikey":{"get":{"tags":["apikey"],"summary":"List API keys","operationId":"getApiKeys","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"customerId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customerid"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"},"title":"Response Getapikeys"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"post":{"tags":["apikey"],"summary":"Create an API key","operationId":"createApiKey","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApiKeyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/apikey/{api_key_id}":{"post":{"tags":["apikey"],"summary":"Update API key expiry","operationId":"updateApiKey","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","title":"Api Key Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApiKeyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKey"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"delete":{"tags":["apikey"],"summary":"Revoke an API key","operationId":"revokeApiKey","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","title":"Api Key Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/audit-log":{"get":{"tags":["audit-log"],"summary":"Query audit log events","operationId":"queryAuditLog","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"startTime","in":"query","required":false,"schema":{"type":"string","format":"date-time","title":"Starttime"}},{"name":"endTime","in":"query","required":false,"schema":{"type":"string","format":"date-time","title":"Endtime"}},{"name":"searchTerm","in":"query","required":false,"schema":{"type":"string","title":"Searchterm"}},{"name":"cursor","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Cursor for the next page","title":"Cursor"},"description":"Cursor for the next page"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":0,"description":"Page size","default":50,"title":"Size"},"description":"Page size"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CursorPage__T_Customized_AuditLogEventPublic_"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/audit-log/export":{"get":{"tags":["audit-log"],"summary":"Export audit log as CSV","operationId":"exportAuditLog","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"startTime","in":"query","required":false,"schema":{"type":"string","format":"date-time","title":"Starttime"}},{"name":"endTime","in":"query","required":false,"schema":{"type":"string","format":"date-time","title":"Endtime"}},{"name":"searchTerm","in":"query","required":false,"schema":{"type":"string","title":"Searchterm"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":false}},"/catalogs":{"get":{"tags":["catalogs"],"summary":"List all catalogs","description":"Lists all catalogs","operationId":"listCatalogs","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCatalogsResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true},"post":{"tags":["catalogs"],"summary":"Create a new managed catalog","description":"Creates a new managed catalog.","operationId":"createCatalog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCatalogRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExplorerUICatalog"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/catalogs/{catalog_id}/namespaces":{"get":{"tags":["catalogs"],"summary":"List namespaces in a catalog","description":"Lists all namespaces for a given catalog.","operationId":"listNamespaces","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListNamespacesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/catalogs/{catalog_id}/namespaces/{namespace_name}/tables":{"get":{"tags":["catalogs"],"summary":"List tables in a namespace","description":"Lists all tables for a given namespace.","operationId":"listTables","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."},{"name":"namespace_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the namespace. Must be URL-encoded.","title":"Namespace Name"},"description":"The name of the namespace. Must be URL-encoded."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTablesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/catalogs/{catalog_id}/namespaces/{namespace_name}/tables/{table_name}":{"get":{"tags":["catalogs"],"summary":"Get table details","description":"Gets detailed information about a single table.","operationId":"getTable","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."},{"name":"namespace_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the namespace. Must be URL-encoded.","title":"Namespace Name"},"description":"The name of the namespace. Must be URL-encoded."},{"name":"table_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the table. Must be URL-encoded.","title":"Table Name"},"description":"The name of the table. Must be URL-encoded."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableDetail"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"delete":{"tags":["catalogs"],"summary":"Delete a table","description":"Removes a table from the catalog. **This operation does not purge the underlying data files** — only the catalog entry is removed. If the table's metadata file is broken or missing, the deletion will fail. In that case, set `force_delete_catalog_entry=true` to forcibly remove the catalog database entry. When force-deleting, data files are left intact and the user is responsible for cleaning them up. Requires admin privileges.","operationId":"deleteTable","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."},{"name":"namespace_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the namespace. Must be URL-encoded.","title":"Namespace Name"},"description":"The name of the namespace. Must be URL-encoded."},{"name":"table_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the table. Must be URL-encoded.","title":"Table Name"},"description":"The name of the table. Must be URL-encoded."},{"name":"force_delete_catalog_entry","in":"query","required":false,"schema":{"type":"boolean","description":"If true, forcibly removes the catalog database entry even when the table's metadata file is broken or missing. Data files will NOT be purged; the user is responsible for cleaning them up.","default":false,"title":"Force Delete Catalog Entry"},"description":"If true, forcibly removes the catalog database entry even when the table's metadata file is broken or missing. Data files will NOT be purged; the user is responsible for cleaning them up."}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/catalogs/{catalog_id}/namespaces/{namespace_name}/tables/{table_name}/credentials":{"post":{"tags":["catalogs"],"summary":"Get temporary table storage credentials","description":"Generates temporary credentials to access the underlying storage of a table.","operationId":"getTableCredentials","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."},{"name":"namespace_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the namespace. Must be URL-encoded.","title":"Namespace Name"},"description":"The name of the namespace. Must be URL-encoded."},{"name":"table_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the table. Must be URL-encoded.","title":"Table Name"},"description":"The name of the table. Must be URL-encoded."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableCredentials"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/catalogs/{catalog_id}/namespaces/{namespace_name}/views/{view_name}":{"get":{"tags":["catalogs"],"summary":"Get view details","description":"Gets detailed information about a single view.","operationId":"getView","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the catalog.","title":"Catalog Id"},"description":"The ID of the catalog."},{"name":"namespace_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the namespace. Must be URL-encoded.","title":"Namespace Name"},"description":"The name of the namespace. Must be URL-encoded."},{"name":"view_name","in":"path","required":true,"schema":{"type":"string","description":"The name of the view. Must be URL-encoded.","title":"View Name"},"description":"The name of the view. Must be URL-encoded."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ViewDetail"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/catalogs/hierarchy":{"get":{"tags":["catalogs"],"summary":"Get full catalog hierarchy","description":"Gets the complete catalog hierarchy including all databases and tables.","operationId":"getCatalogHierarchy","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCatalogHierarchyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/cloud-connections":{"get":{"tags":["cloud-connections"],"summary":"List cloud connections","operationId":"listCloudConnections","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CloudConnectionRead"},"type":"array","title":"Response Listcloudconnections"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true},"post":{"tags":["cloud-connections"],"summary":"Create a cloud connection","operationId":"createCloudConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsCloudConnectionCreate"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudConnectionRead"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/cloud-connections/{connection_id}":{"get":{"tags":["cloud-connections"],"summary":"Get a cloud connection","operationId":"getCloudConnection","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudConnectionRead"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"delete":{"tags":["cloud-connections"],"summary":"Delete a cloud connection","operationId":"deleteCloudConnection","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/verify":{"post":{"tags":["cloud-connections"],"summary":"Verify a cloud connection (optionally with a proposed binding)","operationId":"verifyCloudConnection","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudConnectionVerifyRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudConnectionVerifyResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/create-link/connection":{"get":{"tags":["cloud-connections"],"summary":"Get a CloudFormation Quick-Create link for the connection stack","operationId":"getCloudConnectionCreateLink","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickCreateLinkResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/create-link/storage":{"get":{"tags":["cloud-connections"],"summary":"Get a CloudFormation Quick-Create link for an S3 binding stack","operationId":"getCloudConnectionStorageCreateLink","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"bucket","in":"query","required":true,"schema":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9.\\-]+$","description":"Name of the S3 bucket to grant access to (not an ARN or s3:// URL)","title":"Bucket"},"description":"Name of the S3 bucket to grant access to (not an ARN or s3:// URL)"},{"name":"prefix","in":"query","required":false,"schema":{"type":"string","maxLength":1024,"pattern":"^[^&#\\x00-\\x1f\\x7f]*$","description":"Optional key prefix to scope access to; empty grants the whole bucket","default":"","title":"Prefix"},"description":"Optional key prefix to scope access to; empty grants the whole bucket"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the S3 binding stack"},"description":"Access level for the S3 binding stack"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickCreateLinkResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/cft/connection":{"get":{"tags":["cloud-connections"],"summary":"Download the rendered CloudFormation template for the connection stack","operationId":"downloadCloudConnectionTemplate","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}}],"responses":{"200":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/cft/storage":{"get":{"tags":["cloud-connections"],"summary":"Download the rendered CloudFormation template for an S3 binding stack","operationId":"downloadCloudConnectionStorageTemplate","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"bucket","in":"query","required":true,"schema":{"type":"string","minLength":3,"maxLength":63,"pattern":"^[a-z0-9.\\-]+$","description":"Name of the S3 bucket to grant access to (not an ARN or s3:// URL)","title":"Bucket"},"description":"Name of the S3 bucket to grant access to (not an ARN or s3:// URL)"},{"name":"prefix","in":"query","required":false,"schema":{"type":"string","maxLength":1024,"pattern":"^[^&#\\x00-\\x1f\\x7f]*$","description":"Optional key prefix to scope access to; empty grants the whole bucket","default":"","title":"Prefix"},"description":"Optional key prefix to scope access to; empty grants the whole bucket"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the S3 binding stack"},"description":"Access level for the S3 binding stack"}],"responses":{"200":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/create-link/glue":{"get":{"tags":["cloud-connections"],"summary":"Get a CloudFormation Quick-Create link for a Glue binding stack","operationId":"getCloudConnectionGlueCreateLink","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"name","in":"query","required":true,"schema":{"type":"string","minLength":1,"description":"Name of the Glue binding/catalog; feeds the recommended stack name","title":"Name"},"description":"Name of the Glue binding/catalog; feeds the recommended stack name"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the Glue binding stack"},"description":"Access level for the Glue binding stack"},{"name":"region","in":"query","required":true,"schema":{"type":"string","pattern":"^[a-z]{2}(-[a-z]+)+-\\d$","description":"AWS region where the Glue catalog lives","title":"Region"},"description":"AWS region where the Glue catalog lives"},{"name":"awsAccountId","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{12}$"},{"type":"null"}],"description":"AWS account ID hosting the Glue catalog; defaults to the connection's account","title":"Awsaccountid"},"description":"AWS account ID hosting the Glue catalog; defaults to the connection's account"},{"name":"bucket","in":"query","required":false,"schema":{"type":"string","pattern":"^$|^[a-z0-9.\\-]{3,63}$","description":"Optional S3 bucket for direct data access; empty grants no extra S3 access","default":"","title":"Bucket"},"description":"Optional S3 bucket for direct data access; empty grants no extra S3 access"},{"name":"prefix","in":"query","required":false,"schema":{"type":"string","maxLength":1024,"pattern":"^[^&#\\x00-\\x1f\\x7f]*$","description":"Optional key prefix to scope access to; empty grants the whole bucket","default":"","title":"Prefix"},"description":"Optional key prefix to scope access to; empty grants the whole bucket"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickCreateLinkResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/cft/glue":{"get":{"tags":["cloud-connections"],"summary":"Download the rendered CloudFormation template for a Glue binding stack","operationId":"downloadCloudConnectionGlueTemplate","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"name","in":"query","required":true,"schema":{"type":"string","minLength":1,"description":"Name of the Glue binding/catalog; feeds the recommended stack name","title":"Name"},"description":"Name of the Glue binding/catalog; feeds the recommended stack name"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the Glue binding stack"},"description":"Access level for the Glue binding stack"},{"name":"region","in":"query","required":true,"schema":{"type":"string","pattern":"^[a-z]{2}(-[a-z]+)+-\\d$","description":"AWS region where the Glue catalog lives","title":"Region"},"description":"AWS region where the Glue catalog lives"},{"name":"awsAccountId","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{12}$"},{"type":"null"}],"description":"AWS account ID hosting the Glue catalog; defaults to the connection's account","title":"Awsaccountid"},"description":"AWS account ID hosting the Glue catalog; defaults to the connection's account"},{"name":"bucket","in":"query","required":false,"schema":{"type":"string","pattern":"^$|^[a-z0-9.\\-]{3,63}$","description":"Optional S3 bucket for direct data access; empty grants no extra S3 access","default":"","title":"Bucket"},"description":"Optional S3 bucket for direct data access; empty grants no extra S3 access"},{"name":"prefix","in":"query","required":false,"schema":{"type":"string","maxLength":1024,"pattern":"^[^&#\\x00-\\x1f\\x7f]*$","description":"Optional key prefix to scope access to; empty grants the whole bucket","default":"","title":"Prefix"},"description":"Optional key prefix to scope access to; empty grants the whole bucket"}],"responses":{"200":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/create-link/s3tables":{"get":{"tags":["cloud-connections"],"summary":"Get a CloudFormation Quick-Create link for an S3 Tables binding stack","operationId":"getCloudConnectionS3TablesCreateLink","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"tableBucketArn","in":"query","required":true,"schema":{"type":"string","pattern":"^arn:aws:s3tables:[a-z0-9\\-]+:\\d{12}:bucket/[a-z0-9][a-z0-9\\-]{1,61}[a-z0-9]$","description":"ARN of the S3 Table Bucket to grant access to","title":"Tablebucketarn"},"description":"ARN of the S3 Table Bucket to grant access to"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the S3 Tables binding stack"},"description":"Access level for the S3 Tables binding stack"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuickCreateLinkResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/cloud-connections/{connection_id}/cft/s3tables":{"get":{"tags":["cloud-connections"],"summary":"Download the rendered CloudFormation template for an S3 Tables binding stack","operationId":"downloadCloudConnectionS3TablesTemplate","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"connection_id","in":"path","required":true,"schema":{"type":"string","title":"Connection Id"}},{"name":"tableBucketArn","in":"query","required":true,"schema":{"type":"string","pattern":"^arn:aws:s3tables:[a-z0-9\\-]+:\\d{12}:bucket/[a-z0-9][a-z0-9\\-]{1,61}[a-z0-9]$","description":"ARN of the S3 Table Bucket to grant access to","title":"Tablebucketarn"},"description":"ARN of the S3 Table Bucket to grant access to"},{"name":"access","in":"query","required":true,"schema":{"$ref":"#/components/schemas/CftAccessType","description":"Access level for the S3 Tables binding stack"},"description":"Access level for the S3 Tables binding stack"}],"responses":{"200":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/environment-override-preset":{"get":{"tags":["environment-override--preset"],"summary":"List environment override presets","operationId":"listEnvironmentOverridePresets","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/EnvironmentOverridePreset"},"type":"array","title":"Response Listenvironmentoverridepresets"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true},"put":{"tags":["environment-override--preset"],"summary":"Create or update an env override preset","operationId":"createOrUpdateEnvironmentOverridePreset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentOverridePresetInput"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentOverridePreset"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/environment-override-preset/{environment_override_preset_id}":{"delete":{"tags":["environment-override--preset"],"summary":"Delete an environment override preset","operationId":"deleteEnvironmentOverridePreset","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"environment_override_preset_id","in":"path","required":true,"schema":{"type":"string","title":"Environment Override Preset Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/environment-preset":{"get":{"tags":["environment-preset"],"summary":"List environment presets","operationId":"listEnvironmentPresets","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/EnvironmentPreset"},"type":"array","title":"Response Listenvironmentpresets"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true},"put":{"tags":["environment-preset"],"summary":"Create or update an environment preset","operationId":"createOrUpdateEnvironmentPreset","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentPresetInput"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentPreset"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/environment-preset/{environment_preset_id}":{"delete":{"tags":["environment-preset"],"summary":"Delete an environment preset","operationId":"deleteEnvironmentPreset","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"environment_preset_id","in":"path","required":true,"schema":{"type":"string","title":"Environment Preset Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/files/integration-dir":{"get":{"tags":["files"],"summary":"List integration storage directory (legacy)","operationId":"getIntegrationDirectory","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"integration_id","in":"query","required":true,"schema":{"type":"string","title":"Integration Id"}},{"name":"dir","in":"query","required":true,"schema":{"type":"string","title":"Dir"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Directory"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files/dir":{"get":{"tags":["files"],"summary":"List managed storage directory (legacy)","operationId":"getDirectory","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"dir","in":"query","required":true,"schema":{"type":"string","title":"Dir"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Directory"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files/upload-url":{"post":{"tags":["files"],"summary":"Create a file upload URL (legacy)","operationId":"createUploadUrl","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string","title":"Key"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/src__routers__files__UploadUrlResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files":{"delete":{"tags":["files"],"summary":"Delete files from managed storage (legacy)","operationId":"deleteFiles","requestBody":{"content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Keys"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-exclude-from-cli":true,"x-excluded":true}},"/files/folder":{"post":{"tags":["files"],"summary":"Create a folder in managed storage (legacy)","operationId":"createFolder","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string","title":"Name"}},{"name":"dir","in":"query","required":true,"schema":{"type":"string","title":"Dir"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files/download":{"get":{"tags":["files"],"summary":"Download a file from managed storage (legacy)","operationId":"downloadFile","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string","title":"Key"}}],"responses":{"200":{"description":"File downloaded successfully","content":{"application/json":{"schema":{}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files/rename":{"post":{"tags":["files"],"summary":"Rename a file in managed storage (legacy)","operationId":"renameFile","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"string","title":"Key"}},{"name":"new_name","in":"query","required":true,"schema":{"type":"string","pattern":"^[a-zA-Z0-9\\!\\-\\_\\.\\*\\'\\(\\)]+$","title":"New Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/files/ingest-credentials":{"post":{"tags":["files"],"summary":"Create temporary ingest credentials (legacy)","operationId":"createIngestCredentials","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestCredentials"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"deprecated":true,"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-exclude-from-cli":true,"x-excluded":true}},"/foreign-catalog":{"get":{"tags":["foreign-catalog"],"summary":"List foreign catalogs","description":"Lists all foreign catalogs visible to the current user.","operationId":"listForeignCatalogs","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"oneOf":[{"$ref":"#/components/schemas/DeltaForeignCatalogRead"},{"$ref":"#/components/schemas/IcebergForeignCatalogRead"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogRead"},{"$ref":"#/components/schemas/S3TablesForeignCatalogRead"}],"discriminator":{"propertyName":"type","mapping":{"UNITY_DELTA":"#/components/schemas/DeltaForeignCatalogRead","UNITY_ICEBERG":"#/components/schemas/IcebergForeignCatalogRead","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogRead","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogRead"}}},"type":"array","title":"Response Listforeigncatalogs"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true},"post":{"tags":["foreign-catalog"],"summary":"Create a foreign catalog connection","description":"Creates a new foreign catalog.\n\nThis endpoint allows for the creation of a new foreign catalog connection.\nThe number of foreign catalogs is limited by the organization's plan.","operationId":"createForeignCatalog","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UnityIcebergForeignCatalogCreate"},{"$ref":"#/components/schemas/UnityDeltaForeignCatalogCreate"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogCreate"},{"$ref":"#/components/schemas/S3TablesForeignCatalogCreate"}],"title":"Payload","discriminator":{"propertyName":"type","mapping":{"UNITY_ICEBERG":"#/components/schemas/UnityIcebergForeignCatalogCreate","UNITY_DELTA":"#/components/schemas/UnityDeltaForeignCatalogCreate","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogCreate","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogCreate"}}}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DeltaForeignCatalogRead"},{"$ref":"#/components/schemas/IcebergForeignCatalogRead"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogRead"},{"$ref":"#/components/schemas/S3TablesForeignCatalogRead"}],"title":"Response Createforeigncatalog","discriminator":{"propertyName":"type","mapping":{"UNITY_DELTA":"#/components/schemas/DeltaForeignCatalogRead","UNITY_ICEBERG":"#/components/schemas/IcebergForeignCatalogRead","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogRead","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogRead"}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/foreign-catalog/{catalog_id}":{"get":{"tags":["foreign-catalog"],"summary":"Get a foreign catalog","description":"Gets a specific foreign catalog by its ID.","operationId":"getForeignCatalog","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the foreign catalog to retrieve.","title":"Catalog Id"},"description":"The ID of the foreign catalog to retrieve."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DeltaForeignCatalogRead"},{"$ref":"#/components/schemas/IcebergForeignCatalogRead"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogRead"},{"$ref":"#/components/schemas/S3TablesForeignCatalogRead"}],"discriminator":{"propertyName":"type","mapping":{"UNITY_DELTA":"#/components/schemas/DeltaForeignCatalogRead","UNITY_ICEBERG":"#/components/schemas/IcebergForeignCatalogRead","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogRead","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogRead"}},"title":"Response Getforeigncatalog"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"put":{"tags":["foreign-catalog"],"summary":"Update a foreign catalog","description":"Updates an existing foreign catalog.","operationId":"updateForeignCatalog","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the foreign catalog to update.","title":"Catalog Id"},"description":"The ID of the foreign catalog to update."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UnityIcebergForeignCatalogUpdate"},{"$ref":"#/components/schemas/UnityDeltaForeignCatalogUpdate"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogUpdate"},{"$ref":"#/components/schemas/S3TablesForeignCatalogUpdate"}],"discriminator":{"propertyName":"type","mapping":{"UNITY_ICEBERG":"#/components/schemas/UnityIcebergForeignCatalogUpdate","UNITY_DELTA":"#/components/schemas/UnityDeltaForeignCatalogUpdate","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogUpdate","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogUpdate"}},"title":"Catalog"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/DeltaForeignCatalogRead"},{"$ref":"#/components/schemas/IcebergForeignCatalogRead"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogRead"},{"$ref":"#/components/schemas/S3TablesForeignCatalogRead"}],"discriminator":{"propertyName":"type","mapping":{"UNITY_DELTA":"#/components/schemas/DeltaForeignCatalogRead","UNITY_ICEBERG":"#/components/schemas/IcebergForeignCatalogRead","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogRead","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogRead"}},"title":"Response Updateforeigncatalog"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"delete":{"tags":["foreign-catalog"],"summary":"Delete a foreign catalog","description":"Deletes a foreign catalog by its ID.","operationId":"deleteForeignCatalog","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the foreign catalog to delete.","title":"Catalog Id"},"description":"The ID of the foreign catalog to delete."}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/foreign-catalog/test-connection":{"post":{"tags":["foreign-catalog"],"summary":"Test a new foreign catalog connection","description":"Tests the connection to a foreign catalog.\n\nThis endpoint allows users to test the connection details of a foreign catalog\nbefore creating it.","operationId":"testUnsavedForeignCatalogConnection","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UnityIcebergForeignCatalogCreate"},{"$ref":"#/components/schemas/UnityDeltaForeignCatalogCreate"},{"$ref":"#/components/schemas/AwsGlueForeignCatalogCreate"},{"$ref":"#/components/schemas/S3TablesForeignCatalogCreate"}],"title":"Catalog","discriminator":{"propertyName":"type","mapping":{"UNITY_ICEBERG":"#/components/schemas/UnityIcebergForeignCatalogCreate","UNITY_DELTA":"#/components/schemas/UnityDeltaForeignCatalogCreate","AWS_GLUE":"#/components/schemas/AwsGlueForeignCatalogCreate","S3_TABLES":"#/components/schemas/S3TablesForeignCatalogCreate"}}}}},"required":true},"responses":{"204":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/foreign-catalog/{catalog_id}/test-connection":{"post":{"tags":["foreign-catalog"],"summary":"Test an existing foreign catalog connection","description":"Tests the connection to a foreign catalog.\n\nThis endpoint allows users to test the connection details of an existing\nforeign catalog.","operationId":"testExistingForeignCatalogConnection","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"catalog_id","in":"path","required":true,"schema":{"type":"string","description":"The ID of the foreign catalog to test.","title":"Catalog Id"},"description":"The ID of the foreign catalog to test."}],"responses":{"204":{"description":"Successful Response"},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/me/jupyter/lab/instance/{notebook_id}":{"get":{"tags":["jupyter_lab"],"summary":"Get a notebook instance","operationId":"getNotebookInstance","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"notebook_id","in":"path","required":true,"schema":{"type":"string","title":"Notebook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JupyterKubeApp"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/me/jupyter/lab/instance-latest":{"get":{"tags":["jupyter_lab"],"summary":"Get user's latest notebook instance","operationId":"latestNotebookInstance","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/JupyterKubeApp"},{"type":"null"}],"title":"Response Latestnotebookinstance"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/me/jupyter/lab/instance":{"get":{"tags":["jupyter_lab"],"summary":"List notebook instances","operationId":"listNotebookInstances","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":10,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"desc","in":"query","required":false,"schema":{"type":"boolean","default":true,"title":"Desc"}},{"name":"exclude_statuses","in":"query","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppStatus"},"default":[],"title":"Exclude Statuses"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JupyterListModel"},"title":"Response Listnotebookinstances"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true},"post":{"tags":["jupyter_lab"],"summary":"Create a notebook instance","operationId":"createNotebookInstance","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"region","in":"query","required":true,"schema":{"type":"string","title":"Region"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JupyterAPIPayload"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JupyterKubeApp"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/me/jupyter/lab/instance/{notebook_id}/destroy":{"post":{"tags":["jupyter_lab"],"summary":"Destroy a notebook instance","operationId":"destroyNotebookInstance","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"notebook_id","in":"path","required":true,"schema":{"type":"string","title":"Notebook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JupyterKubeApp"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-excluded":true}},"/me/jupyter/lab/config-hint":{"get":{"tags":["jupyter_lab"],"summary":"Get notebook config hints","operationId":"getNotebookConfigHint","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JupyterConfigHint"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-excluded":true}},"/management/organization/{organization_id}/subscription":{"get":{"tags":["management","superuser"],"summary":"Get organization subscription","description":"Get organization's active subscription details.\n\nThis endpoint is for superusers only and returns the active subscription\ninformation including type-specific details (AWS Marketplace, Stripe, etc.).","operationId":"getOrganizationSubscription","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SubscriptionInfo"},{"type":"null"}],"title":"Response Getorganizationsubscription"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/management/organization/{organization_id}/usage/costs":{"post":{"tags":["management","superuser"],"summary":"Get organization workload costs","description":"Get Orb-calculated workload costs for any organization.\n\nThis endpoint is for superusers only. Unlike the org-scoped\n``POST /usage/costs``, it resolves costs for an arbitrary organization\nidentified by ``organization_id``.","operationId":"getOrganizationWorkloadCosts","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetKubeAppCostsInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkloadCostsOutput"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/management/quotas/all":{"get":{"tags":["management","superuser"],"summary":"List all organization quotas","operationId":"listAllQuotas","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"additionalProperties":{"type":"integer"},"propertyNames":{"$ref":"#/components/schemas/QuotaType"},"type":"object"},"type":"object","title":"Response Listallquotas"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"x-exclude-from-cli":true,"x-excluded":true}},"/management/organization/{organization_id}/quotas":{"get":{"tags":["management","superuser"],"summary":"Get quotas for an organization","operationId":"getOrganizationQuotas","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer"},"propertyNames":{"$ref":"#/components/schemas/QuotaType"},"title":"Response Getorganizationquotas"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/management/organization/{organization_id}/update-quota":{"post":{"tags":["management","superuser"],"summary":"Update a quota for an organization","operationId":"updateOrganizationQuota","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}},{"name":"quota_type","in":"query","required":true,"schema":{"$ref":"#/components/schemas/QuotaType"}},{"name":"quota_value","in":"query","required":true,"schema":{"type":"integer","title":"Quota Value"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"integer"},"propertyNames":{"$ref":"#/components/schemas/QuotaType"},"title":"Response Updateorganizationquota"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/management/organization/{organization_id}/refresh-quotas":{"post":{"tags":["management","superuser"],"summary":"Refresh org resource quotas in K8s","operationId":"refreshOrganizationQuotas","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorBody"}}}}},"x-exclude-from-cli":true,"x-excluded":true}},"/management/organization/{organization_id}/refresh-users":{"post":{"tags":["management","superuser"],"summary":"Refresh users in an organization","operationId":"refreshOrganizationUsers","security":[{"bearerToken":[]},{"wherobotsApiKey":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"string","title":"Organization Id"}}],"responses":{"200":{"descriptio
[...]
